*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: black;
    color: white;
    line-height: 25px;
    
}
html{
    /* scale: 0.7; */
    scroll-behavior: smooth;
    scroll-padding-top:200px ;/*  this maintains navbar doesnt overlap the content when clicked on buttons */
}
section{
    margin-bottom:120px ;
}

/* to reduce the things relatively use vw instead of px*/
/* important point whenever usig hover effect */
.para{
    transition: transform 0.3s ease;
}
.para:hover {
    transform: scale(1.01);
}


/* .stats > div:hover can use this also instead of below one this line of code directly point to the main child divs of stats div*/

.stats1 ,.stats2 ,.stats3 {
    transition: transform 0.4s ease;
}
.stats1:hover, .stats2:hover, .stats3:hover {
    transform: scale(1.075);
}


@keyframes fadeInUpAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move the element to its original position */
    }
}
/*postion : fixed ; will not work if u add animation to ur element directly instead add animation o elements in it*/

.introduction_logo , .name_logo , .CSE_logo , .intro , .stats  , .quote , .leftnav , .button1 ,.button2 ,.button3 ,.button4 , .button5 , .button6{
    opacity: 0; 
    transform: translateY(20px); 
    animation-name: fadeInUpAnimation; 
    
    animation-duration: 0.8s;
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards; /* This is crucial: it keeps the element in its final state after the animation ends */
}

nav{
    animation-delay: 0.1s;
}
.introduction_logo{
    animation-delay: 0.3s;
}

.name_logo{
    animation-delay: 0.6s;
}
.CSE_logo{
    animation-delay: 0.9s;
}
.intro{
    animation-delay: 1.2s;
}
.stats{
    animation-delay: 1.5s;
}
.button1{
    animation-delay: 1.5s;
}
.button2{
    animation-delay: 1.7s;
}
.button3{
    animation-delay: 1.9s;
}
.button4{
    animation-delay: 2.1s;
}
.button5{
    animation-delay: 2.3s;
}
.button6{
    animation-delay: 2.5s;
}

@keyframes fadeInUpimgAnimation {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-200px);
        scale: 0.5;
        box-shadow:
        0 0 25px rgba(240, 7, 7, 0.94),
        0 0 60px rgba(240, 7, 7, 0.807),  
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    }
    75%{
        transform: rotatey(180deg);
        backface-visibility: hidden;
    }
    80%{
        scale: 1.3;
    }
    90%{
        opacity: 1;
        transform: translateY(0); 
        box-shadow:
        0 0 25px rgba(240, 7, 7, 0.94),
        0 0 60px rgba(240, 7, 7, 0.807),  
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.image-wrapper{
    opacity: 0; 
    transform: translateY(20px); 
    animation-name: fadeInUpimgAnimation; 
    animation-delay: 1.5;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards;
}
.rightnav{
    min-width: 60%;
}
.leftnav{
    min-width: 30%;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(70, 209, 255);
}

.nav_container{
    margin-left: 80px;
    margin-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 1000;
    height: 50px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;

    border-radius: 50px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.347),             /* Outer red glow */
        0 0 40px rgba(255, 0, 0, 0.1),               /* Softer spread */
        inset 0 0 10px rgba(255, 255, 255, 0.05);    /* Subtle inner light */

    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    transition: transform 0.3s ease ;
}
.nav_container:hover {
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.4),    
        0 0 40px rgba(255, 0, 0, 0.2),    
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    }

nav{
    height: 90px;
    background-color:#000000;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
a{
    color: white;
    text-decoration: none;
}
nav ul li{
    list-style : none;
    margin-right: 40px;
}

.buttons{
    transition: transform 0.3s ease;
}
.buttons:hover{
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.15);
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.15);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.7),  
        0 0 60px rgba(255, 0, 0, 0.238),   
        inset 0 0 10px rgba(255, 0, 0, 0.2); 
}


.firstsection{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
.leftsection {
    margin-top: 30px;
    width: 40%;
    
}

.introduction_logo{
    font-size: 20px;
    margin-bottom: 15px;
    color: #96848ed8;
    
}
.name_logo{
    font-size: 30px;
    margin-bottom: 20px;
}
.CSE_logo{
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1;
    background: linear-gradient(to right, #3cf, #f36, #c6f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stats {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.stats div h3 {
    font-size: 2rem;
    color: #fff;
    margin: 10px;
}

.stats div p {
    font-size: 0.9rem;
    color: #ccc;
}
.rightsection{
    margin-top: 20px;
    width: 25%;
}
.rightsection img {
    min-width: 200px;  
    max-width: 100%; 
    height: auto;  
    display: block;  
    margin: 0 auto;  
}
.quote{
    margin-top: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #afa2a9f9;
}


.image-wrapper {
    padding: 0px; 
    border-radius: 20px;
    background: radial-gradient(circle at center, #1f1f1f, #0d0d0d);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.347),            
        0 0 50px rgba(255, 0, 0, 0.15),               
        inset 0 0 10px rgba(255, 255, 255, 0.05);    

    transform: perspective(1000px) rotateX(2deg) rotateY(-2deg);
    transition: transform 0.3s ease;
    }

    
/* when ever want to add an effect add these lines  transition: transform 0.3s ease for smooth effect*/

.image-container {
    transition: transform 0.3s ease;
}

.image-container:hover {
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.1),    
        0 0 20px rgba(255, 0, 0, 0.1),    
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    border-radius: 20px;
    transform: scale(1.02);
    
}

.about_section{
    display: flex;
    justify-content: space-around;
    
}
.aboutleft{
    width: 25%;
    
}
.aboutright{
    width: 40%;
    
    display: flex;
    align-items: end;
}
.about_logo:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.345),            
        0 0 50px rgba(255, 0, 0, 0.15),               
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    }


.about_logo{
    font-size: 50px;
    margin: 0 0 150px 0;
    color: rgb(70, 209, 255);
    height:80px;
    width: 250px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
    text-align: center;
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.345),             
        0 0 40px rgba(255, 0, 0, 0.1),               
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    
    
    transition: transform 0.3s ease;
}


.about_img,.about_education{
    transform: translateX(30px);
}
.about_logo{
    margin-left: -30px;
}


.about_img img{
    width: 90%;
    padding: 0px; 
    border-radius: 20px;
    background: radial-gradient(circle at center, #1f1f1f, #0d0d0d);
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.3),    
        0 0 40px rgba(255, 0, 0, 0.2),    
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    transition: transform 0.3s ease;
}
.about_img img:hover{
    transform: scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.347),            
        0 0 50px rgba(255, 0, 0, 0.15),               
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}

/* education section */
.Education_sec{
    display: flex;
    justify-content: space-around;
    
}
.edu_left{
    
    width: 40%;
    height: auto ;
}
.edu_right{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.education_logo:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.345), 
        0 0 50px rgba(255, 0, 0, 0.15),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}


.education_logo{
    font-size: 50px;
    margin: 0 0 150px -30px;
    color: rgb(70, 209, 255);
    height:80px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 320px;
    text-align: center;
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.345), 
        0 0 40px rgba(255, 0, 0, 0.1),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transition: transform 0.3s ease;
}

@keyframes hoverFlip {
    0% {
        transform: perspective(1000px) rotateY(0deg) translateY(0) scale(1);
    }
    50%{
        transform: perspective(1000px) rotateY(180deg) translateY(0px) scale(1.2);
    }
    
    100% {
        transform: perspective(1000px) rotateY(360deg) translateY(0px) scale(01);
    }
}

.developer_img img {
    min-width: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

    transform: perspective(1000px) rotateY(0deg) translateY(0) scale(1);
    transition: transform 1s linear;
    backface-visibility:visible; 
    }

/* ✅ Trigger the animation on hover */
.developer_img img:hover {
    animation: hoverFlip 1.5s linear alternate;   
}
.Edu_quote{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #afa2a9f9;
}





/* Skills section */

.skill_list{
    background-color: rgb(14, 13, 13);
    width: 80%;
    margin: 0px 10% 5% 10%;
    
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;  /*this line used to control whether the child items should stay on one line or wrap to multiple lines when they don’t fit */
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.153),   
        0 0 10px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transition: transform 0.7s ease;
}
.skill_list:hover{
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),   
        0 0 40px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: scale(1.01);
}
.skills_logo:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.345), 
        0 0 50px rgba(255, 0, 0, 0.15),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}



.skills_logo{
    font-size: 50px;
    margin: 0 0 20px 100px;
    color: rgb(70, 209, 255);
    height:80px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    width:200px;
    text-align: center;
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.345), 
        0 0 40px rgba(255, 0, 0, 0.1),   
        inset 0 0 10px rgba(255, 255, 255, 0.05);  
    transition: transform 0.3s ease;
}





.skill1{
    text-align: center;

    height:auto;
    width: 30%;
    min-width: 300px;
    margin: 30px 30px 100px 30px;
    border-radius: 20px;
    background-color:rgb(9, 9, 9);
    
    transition: transform 0.5s ease;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.153),   
        0 0 10px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}

.skill1:hover{
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.347),  
        0 0 40px rgba(255, 0, 0, 0.1),  
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: scale(1.01);
}

.skill1 img{
    width: 40%;
    margin : 5% 25%  ;
}

.skill_name{
    font-size: 1.5rem;
    color: rgb(70, 209, 255);
    margin: 10px;
}
.skill_discription{
    color: #afa2a9f9;
    font-size: 0.8rem;
    margin: 15px;
}

.skill_img{
    
    width: 90vw;
    height: 150px;
    margin: 0;
    position: relative;       /* ✅ required for absolute positioning */
    overflow: visible; 
    
}

@keyframes skills_animation {
    0%{
        transform: translate(0,0);
        opacity: 0;
        scale: 0;
    }
    5%{
        scale: 0.5;
    }
    12%{
        transform: translate( 25vw,-100px);
        
    }
    26%{
        transform: translate(25vw,0px);
        opacity: 1;
        scale: 1.5;
    }
    
    40%{
        transform: translate(40.5vw,-100px);
        opacity: 0;
        scale: 2;
    }
    
    100%{
        opacity: 0;
        transform: translate(0,0);
    }
}
.skill_img img{
    height: 80%;
    position: absolute;       /* ✅ moves based on parent box */
    bottom: 0;
    left: 0;
    transform: translate(20vw,0px);
    animation-name: skills_animation; 
    animation-delay:0s;
    animation-duration: 15s; 
    animation-timing-function:ease-out; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} 

.lower_skill{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.skill_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    
}
.skill_right{
    width: 30%;
    height: auto;
}

/* Project section */

.upper_project{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}



.project_left{
    width: 25%;
    height: auto;
}
.project_right{
    width: 40%;
    height: auto;
    padding: 200px 20px 0 20px;
    display: flex;
    align-items: center;
}

.projects_logo:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.345), 
        0 0 50px rgba(255, 0, 0, 0.15),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}



.projects_logo{
    
    font-size: 50px;
    margin: 0 0 150px -30px;
    color: rgb(70, 209, 255);
    height:80px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    width:280px;
    text-align: center;
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.345), 
        0 0 40px rgba(255, 0, 0, 0.1),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transition: transform 0.3s ease;
}
#gifVideo1 , #gifVideo2{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 40px;
    
}
.vedio_container{
    transition: transform 0.5s ease;
}


#project_name{
    color: rgb(70, 209, 255);
}

/* Contact section */

.contact_logo{
    
    font-size: 50px;
    margin: 0 0 150px 90px;
    color: rgb(70, 209, 255);
    height:80px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    width:350px;
    text-align: center;
    border-radius: 20px;
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.345), 
        0 0 40px rgba(255, 0, 0, 0.1),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transition: transform 0.3s ease;
}
.contact_logo:hover {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.01);
    box-shadow:
        0 0 15px rgba(255, 0, 0, 0.345), 
        0 0 50px rgba(255, 0, 0, 0.15),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}

.main_contact{
    display: flex;
    justify-content:  space-evenly;
    background-color: rgb(14, 13, 13);
    width: 80%;
    margin:20px 10% 5% 10%;
    border-radius: 20px;
    padding: 50px 0 50px 0;
    flex-wrap: wrap;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.153),   
        0 0 10px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transition: transform 0.7s ease;
}
.main_contact:hover{
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),   
        0 0 60px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: scale(1.01);
}


.contact_right{
    height: auto;
    width: 40%;
    min-width: 300px;
    margin: 50px 30px 50px 30px;
}
.contact_left{
    height: auto;
    width: 40%;
    min-width: 300px;
    margin: 50px 0px 50px 30px;
    padding: 20px;
}

.discrption{
    margin: 50px 0 50px 0;
}

.heading{
    margin: 30px 0 0 40px;
    color: rgb(70, 209, 255);
}
.contact_symbols{
    font-size: 25px;
}
.messege{
    margin: 60px 0 0px 0 ;
    color: #b3a1abd8;
}
.socail_media{
    
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
.social_media_butttons{
    scale: 1.2;
    color: rgb(70, 209, 255);
    height: 40px;
    width: 100px;
    
    margin: 20px 10px 20px 0;
    
    border: 2px solid  rgb(70, 209, 255); ;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.social_media_butttons:hover{
    transform: scale(1.05);
    transform: translateY(-2px);
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),   
        0 0 60px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}

.social_media_butttons:active{
    background-color: rgb(70, 209, 255);
}

.contact_right{
    padding: 15px;
    margin-left: 0;
    border-radius: 20px;
    background-color: rgb(15, 15, 15);
    transition: transform 0.5s ease;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.153),   
        0 0 10px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
}
.contact_right:hover{
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.153),   
        0 0 20px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: scale(1.005);
}
.getintouch{
    width: 100%;
    text-align: center;
    margin: 10px 0 40px 0;
}

.input-info{
    
    margin: 20px 0 20px 20px;
    width: 95%;
    height: auto;
    
}

.input{
    width: 80%;
    min-width:20%;
    margin: 10px 0 0 40px;
    padding-left: 20px ;
    height:40px;
    background-color: rgb(22, 22, 22);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    transition: transform 0.9s ease;
}
.input:hover{
    box-shadow:
        0 0 2px  rgb(220, 223, 224),  
        0 0 5px  rgb(185, 192, 195),  
        inset 0 0 10px rgba(255, 255, 255, 0.05); 
    transform: scale(1.01);
}

.input-info label{
    margin-left: -10px;
}
#message{
    height: 100px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgb(30, 29, 29) inset !important;
    -webkit-text-fill-color:white; /* Sets text color to black */
}

.submit_button{
    width: 50%;
    font-size: 16px;
    height: 50px;
    margin:  25px 20% 0 25% ;
    border: 3px solid  rgb(70, 209, 255) ;
    border-radius: 50px ;
    font-weight: 900;
    color: white;
    background-color: rgb(30, 29, 29);
    transition: transform 0.3s ease;
}
.submit_button:hover{
    transform: scale(1.02);
}
.submit_button:active{
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),   
        0 0 60px rgba(255, 0, 0, 0.2),   
        inset 0 0 10px rgba(255, 255, 255, 0.05);
    transform: translateY(-2px);
}

.end{
    text-align: center;
    padding: 40px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.1) ;
    background-color: rgb(14, 13, 13);
}


@media (max-width : 917px) {
    nav ul li{
    margin-top: 10px;
    }
}

@media (max-height : 420px) {
    .nav_container{
    position: relative;
    }
}
@media  (max-width : 630px){
    .nav_container{
    position: relative;
    height: 100px;
    }
} 
@media (max-width : 630px) {
    
}